@model WikiPedia.ViewModels.PictureViewModel
@{
    ViewBag.Title = "Editing new picture";
}
<form asp-action="EditPicture" asp-controller="home" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="PictureName" class="control-label">Имя</label>
        <input type="text" asp-for="PictureName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PictureText" class="control-label">Описание</label>
        <input type="text" asp-for="PictureText" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label">Изображение</label>
        <input type="file" asp-for="Image" class="form-control" />
    </div>
   
    <div class="form-group">
        <input type="submit" value="Принять" class="btn btn-outline-success" />
    </div>
</form>