
@model WikiPedia.Models.SearchPublication
@{ ViewData["Title"] = "Home Page"; }
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <blockquote class="blockquote text-right">
                    <h1 class="mb-0" style="font-family: 'Anton', sans-serif;">
                        Здесь вы найдёте всё, что вам нужно
                    </h1>

                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Popular publications
                </h3>
                <div class="col-md-4">
                    <form method="get">
                        <div class="form-inline form-group">
                            <input name="name" class="form-control" />
                            <input type="submit" value="Search" class="btn btn-outline-success" />
                        </div>
                    </form>
                </div>


                <div class="row">
                    @foreach (var item in Model.Publications)
                    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail First" src="@item.Image.Path" style="margin: 0 auto;">

                <div class="card-block">
                    <h5 class="card-title">
                        @item.Name
                    </h5>
                    <p class="card-text">
                        @item.ShirtInfo
                    </p>
                    <p>
                        <a class="btn btn-primary" asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Learn more</a>
                    </p>
                </div>
            </div>
        </div>}



                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-outline-info btn-block" asp-action="Edit" asp-controller="Home">Add an publication</a>
        </div>
        <div class="col-md-5">
        </div>

    </div>
</body>